<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales</title>
    <link rel="icon" href="\static\image\LogoAla.png" type="image/png">
    <link rel="stylesheet" href="../static/css/tutoriales.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <!-- Botón hamburguesa -->
            <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menú">☰</button>

            <!-- Logo -->
            <div class="logo">
                <a href="/home">
                    <img src="/static/image/LogoValkin.png" alt="VALKING Logo" height="50">
                </a>
            </div>

            <!-- Menú -->
            <nav id="nav-menu">
                <ul class="nav-list">
                    <li><a href="/reservacion">RESERVAR</a></li>
                    <li><a href="/perfil">MI PERFIL</a></li>
                    <li><a href="/tienda">TIENDA</a></li>
                    <li><a href="/tutoriales">TUTORIALES</a></li>
                    <li><a href="/paquetes">PAQUETES</a></li>
                    <li><a href="/reservas_page">RESERVAS</a></li>
                </ul>
                <div class="user-icon">
                    
                    {% if session['user_id'] %}
                        <span>{{ session['user_nombre'] }}</span>
                        <a href="/logout" title="Cerrar Sesión">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    {% else %}
                        <a href="/" title="Iniciar Sesión">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Banner de Tutoriales -->
        <section class="video-banner">
            <video autoplay loop muted playsinline class="background-video">
                <source src="../static/image/avion_nube.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
            <div class="overlay">
                <h2>Pasa tu mejor hora del día <br> en los simuladores VALKIN</h2>
                <a href="http://www.youtube.com/@valkinsimulators8726" target="_blank" class="btn-video">
                    IR AL CANAL
                </a>
            </div>
        </section>

        <!-- Sección de Videos Destacados -->
        <section class="video-gallery">
            <h3>Videos Destacados</h3>
            <div class="video-wrapper">
                <button class="prev-btn">&#10094;</button>
                <div class="video-container">
                    <div class="videos">
                        {% for tutorial in tutoriales %}
                            <iframe src="https://www.youtube.com/embed/{{ tutorial.video_id }}" allowfullscreen></iframe>
                        {% endfor %}
                    </div>
                </div>
                <button class="next-btn">&#10095;</button>
            </div>
        </section>

        <!--ESTA LINEA DE CODIGO IRA EN VEZ DE LA ANTERIOR CUANDO EL CRUD ADMIN YA ESTE FUNCIONANDO-->
        <!--
        <section class="video-gallery">
            <h3>Videos Destacados</h3>
            <div class="video-wrapper">
                <button class="prev-btn">&#10094;</button>
                <div class="video-container">
                    <div class="videos">
                        {% for tutorial in tutoriales %}
                            <iframe src="https://www.youtube.com/embed/{{ tutorial.video_id }}" allowfullscreen></iframe>
                        {% endfor %}
                    </div>
                </div>
                <button class="next-btn">&#10095;</button>
            </div>
        </section>  
        -->
    </main>


    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Valkin. Todos los derechos reservados.</p>
        <p><a href="/privacidad" target="_blank">Aviso de privacidad</a> | <a href="/terminos" target="_blank">Términos y condiciones</a></p>
    </footer>

    <script src="../static/js/gallery.js"></script>
    <script>
        /*HEADER FIJO*/
        let lastScrollTop = 0;
            const header = document.querySelector("header");

            window.addEventListener("scroll", function () {
                const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                if (scrollTop > lastScrollTop) {
                    // Scroll hacia abajo → ocultar header
                    header.style.top = "-80px";
                } else {
                    // Scroll hacia arriba → mostrar header
                    header.style.top = "0";
                }

                lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Evitar negativos
            });

            /*SCRIPT PARA EL MENÚ DESPLAZABLE DEL HEADER*/
            const menuToggle = document.getElementById('menu-toggle');
            const navMenu = document.getElementById('nav-menu');

            menuToggle.addEventListener('click', () => {
                navMenu.classList.toggle('show');
            });
    </script>
</body>
</html> 
