* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Helvetica;
    padding-top: 80px; /* Altura del header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #37495E;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out; /* Para animar el movimiento */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Asegura que use todo el espacio horizontal */
    gap: 40px;
    position: relative;
}

/* Botón de menú hamburguesa */
.menu-toggle {
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Navegación */
nav {
    display: flex;
    align-items: center;
    flex: 1; /* Ocupa el espacio horizontal */
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    padding: 5px 0;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    text-align: justify;
}

.nav-list li a:hover {
    text-decoration: underline;
}

/* Logo */
.logo img {
    height: 38px;
}

/* Ícono de usuario */
.user-icon {
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon span {
    color: white;
    font-size: 14px;
}

.user-icon a {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

.user-icon a:hover {
    color: #4f6880;
}

main {
    flex: 1;
}

/* BOTÓN CENTRADO */
.button-container {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: #3e5064;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4f6880;
}

/*Paquetes*/
.paquetes .anuncio{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}

.paquetes {
    text-align: center;
    padding: 30px;
}

.text-large {
    white-space: pre-line;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    width: 150px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin: 10px 0;
    font-size: 4em;
}

.card h3 {
    font-size: 16px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.expiry {
    color: gray;
}

.first-time {
    position: relative; /* Para posicionar el badge dentro de la card */
    overflow: hidden;   /* Para evitar que el badge sobresalga de la card */
}

.first-time .badge {
    background: linear-gradient(to right, red, blue);
    color: white;
    padding: 5px 0;            /* Ajuste del padding para hacerlo más delgado */
    border-radius: 10px 10px 0 0; /* Solo bordes superiores redondeados */
    position: absolute;        /* Posicionamiento absoluto para pegarlo al borde */
    top: 0;                    /* Pegado al borde superior */
    left: 0;                   /* Alineado al borde izquierdo */
    right: 0;                  /* Alineado al borde derecho */
    text-align: center;        /* Centrar el texto */
    font-weight: bold;         /* Resalta el texto */
}

/* Footer */
footer {
    background-color: #37495E;
    color: white;
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 0;
}

footer p + p {
    margin-top: 10px;
    font-size: 0.9em;
}

footer a,
footer a:visited,
footer a:active {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white; /* Asegura que la línea también sea blanca */
} 

/* Responsive */
@media (max-width: 768px) {
    .header-container {
        align-items: left;
        gap: 10px;
    }

    header {
        text-align: center;
        padding: 5px;
    }

    .menu-toggle {
        display: block;
    }

    .logo {
        margin: 0 auto;
    }

    nav {
        position: absolute;
        width: 100%;
        display: none;
        justify-content: left;
        top: 70px;
        left: 0;
        right: 30px;
        background-color: #37495E;
        z-index: 1000;
        padding: 20px;
        border-radius: 0  0 10px 10px;
        box-shadow: 0 2px px rgba(0,0,0,0.2);
    }

    nav.show {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-list li a {
        font-size: 16px;
    }

    .user-icon {
        justify-content: left;
        margin-top: 1px;
        margin-top: 15px;
    }

    .user-icon span {
        font-size: 16px;
    }

    .user-icon a {
        font-size: 20px;
    }

    .paquetes {
        padding: 15px;
    }

    .text-large {
        font-size: 14px;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }

    .cards {
        justify-content: center;
    }

    .card h2 {
        font-size: 2.5em;
    }

    .card h3 {
        font-size: 14px;
    }

    .price {
        font-size: 1.2em;
    }


} 