body {
    font-family: helvetica;
    margin: 0;
    background-color: #f4f4f4;
}
/*HEADER*/
header {
    background-color: #37495E;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    height: 38px;
}

/*CONTENIDO*/
.container{
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
}
.container .content {
    text-align: justify;
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
}
h2 {
    color: black;
    text-align: center;
}
.indentado {
    text-indent: 30px;
}
.cursiva {
    font-style: italic;
}
.roman-list {
    list-style: upper-roman;
    color: #000000;
    text-align: justify;
    *line-height: 1.6;
}
.decimal-list {
    list-style: decimal;
    color: #000000;
    text-align: justify;
    *line-height: 1.6;
}

/*FOOTER*/
footer {
    background-color: #37495E;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
footer a,
footer a:visited,
footer a:active {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white; /* Asegura que la línea también sea blanca */
}
/*RESPONSIVO*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        padding: 15px;
    }

    .header-left {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .logo img {
        height: 32px;
    }

    .container {
        max-width: 95%;
        padding: 5px;
    }

    .container .content {
        font-size: 15px;
    }

    footer {
        font-size: 12px;
        padding: 10px 0;
    }
}
