<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Carga - Acceso al Simulador</title>
    <link rel="stylesheet" href="static/css/acceso_token.css">
</head>
<body>
    <div class="loading-screen">
        <div class="loading-container">
            <div class="logo">
                <img src="static\image\Logos SVG Valking.png" alt="Logo Valkin" height="50"> 
            </div>
            <img src="static\image\Logo V1_1.jpg" alt="Logo Valkin" height="40">
            <h3>Acceso al Simulador</h2>
            <p>Ingrese su token para continuar</p>
            <form id="tokenForm">
                <input type="text" id="tokenInput" placeholder="Ingrese su token..." required>
                <button type="submit">Acceder</button>
            </form>
            <p id="error-message" class="error-message"></p>
        </div>
    </div>
</body>
</html>
