<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Recuperar Contraseña</title>
    <link rel="icon" href="/static/image/LogoAla.png"  alt="logo de ala">
    <link rel="stylesheet" href="/static/css/olvido.css">
    
</head>
<body>
    <div class="container">
        <h2>¿Olvidaste tu contraseña?</h2>
        <p>Ingresa tu correo electrónico y te enviaremos un PIN de verificación para restablecer tu contraseña.</p>
        <form action="/olvido" method="POST">
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <button type="submit">Enviar</button>
        </form>
        <a href="/" class="back-link">Volver a inicio de sesión</a>
    </div>
</body>
</html>
