<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurar Contraseña</title>
    <link rel="icon" href="/static/image/LogoAla.png"  alt="logo de ala"> 
    <link rel="stylesheet" href="/static/css/password.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="password-box">
        <div class="logo-frame">
            <img src="static/image/Logo Ala.jpg" alt="logo de ala">
        </div>
        <h1>Configurar Contraseña</h1>

        <!-- Formulario para cambiar la contraseña -->
        <form id="password-form" method="POST" action="{{ url_for('contrasena', correo=correo) }}">
            <input type="email" name="correo" value="{{ correo }}" hidden>

            <div class="password-field">
                <label for="password">Nueva Contraseña</label> 
                <input type="password" id="password" name="password" required>
                <svg id="toggle-password" class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path fill="currentColor" d="M12 4.5c-4.5 0-8.19 3.58-10.25 6.19a1.5 1.5 0 000 1.62C3.81 15.92 7.5 19.5 12 19.5s8.19-3.58 10.25-6.19a1.5 1.5 0 000-1.62C20.19 8.08 16.5 4.5 12 4.5zm0 12a4.5 4.5 0 110-9 4.5 4.5 0 010 9zm0-6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"/>
                </svg>
            </div>

            <div class="password-rules">
                <p>La contraseña debe cumplir con:</p>
                <ul>
                    <li id="length-rule">Al menos 8 caracteres</li>
                    <li id="uppercase-rule">Una letra mayúscula</li>
                    <li id="lowercase-rule">Una letra minúscula</li>
                    <li id="special-rule">Un carácter especial (@, #, $, etc.)</li>
                </ul>
            </div>

            <label for="confirm-password">Confirmar Contraseña</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <input type="submit" value="Guardar Contraseña">
        </form>

        <!-- Mensaje de respuesta (se mostrará dinámicamente con JavaScript) -->
        <div id="response-message" style="display:none; padding: 10px; margin-top: 20px; border-radius: 5px;"></div>
    </div>

    <script src="static/js/pass.js"></script>
</body>
</html>
